* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-style: normal;
    line-height: normal;
    font-family: Rubik, sans-serif;
} 


.hero {
    width: 1440px;
    height: 1024px;
    background-color: #eff2f9;
}

.card {
    width: 1170px;
    height: 800px;
    background-color: #fff;
    box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25);
    padding: 60px 0 70px;
}

.product-img-preview {
    width: 80px;
    height: 80px;
    background-color: #fff;
}

.selected {
    box-shadow: 8px 8px 16px 0 rgba(81, 91, 117, 0.25);
}

.product-img-block {
    border-right:  2px solid rgba(20, 20, 20, 0.15);
    width: 540px;
}

.main-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 38px;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.9);
    margin-bottom: 5px;
}

.subtitle {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.4);
}

.description{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.7);   
    margin: 60px 0 65px;
}

.title {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.4);
    margin-bottom: 20px;
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    box-shadow: 2px 2px 4px 0 rgba(81, 91, 117, 0.25);
    background-color:  #d52f29;
}

.blue {
    background-color: #013c7d;
}

.green {
    background-color: #63cba7;
}

.red {
    background-color: #d52f29;
}

.black {
    background-color: #141414;
}

.yellow {
    background-color: #f2c723;
}

li.selected {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 6px 0 rgba(81, 91, 117, 0.25);
    padding: 7px;
}

.quantity {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.8);

    width: 80px;
    height: 24px;       
    border: none;
    /* background: transparent; */
    background-image: url(./assets/img/ph_caret-down-bold.svg);
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 0 center;
}

.price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.8);
}

.btn {
    width: 510px;
    height: 70px;
    background-color:  #141414;

    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #fff;   
    margin-top: 75px; 
}