* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-style: normal;
    line-height: normal;
    font-family: 'Rubik', sans-serif;
    min-width: 375px;
} 

.hero {
    min-height: 100vh;
    background-color: #eff2f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 1170px;
    min-height: 800px;
    background-color: #fff;
    box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25);
    padding: 60px 0 70px;
    display: flex;
    margin: 40px;
}

.product-img-block {
    border-right:  2px solid rgba(20, 20, 20, 0.15);
    min-width: 540px;
    display: flex;
    flex-direction: column;
}

.main-img-wrap{
   flex: 1; 
   display: flex;
   justify-content: center;
   align-items: center;
}

.preview-wrap {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.product-img-preview {
    width: 80px;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease;
}

.product-img-preview.selected,
.product-img-preview:hover {
    box-shadow: 8px 8px 16px 0 rgba(81, 91, 117, 0.25);
}



.product-info-block{
    padding: 0 60px;
}

.main-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 38px;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.9);
    margin-bottom: 5px;
}

.subtitle {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.4);
}

.description{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.7);   
    margin: 60px 0 65px;
}


.title {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.4);
    margin-bottom: 20px;
}

.color-options {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-bottom: 65px;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 7px;
    background-color: #fff;
    cursor: pointer;
    transition: all .2s ease;
}

.color-option.selected,
.color-option:hover {
    box-shadow: 2px 2px 6px 0 rgba(81, 91, 117, 0.25);
}


.circle {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    box-shadow: 2px 2px 4px 0 rgba(81, 91, 117, 0.25);
    background-color:  #d52f29;
}

.blue {
    background-color: #013c7d;
}

.green {
    background-color: #63cba7;
}

.red {
    background-color: #d52f29;
}

.black {
    background-color: #141414;
}

.yellow {
    background-color: #f2c723;
}



.wrapper {
    display: flex;
}

.wrapper > div {
    flex: 1;
}

.quantity {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.8);
    font-family: 'Rubik', sans-serif;
    width: 80px;
    height: 24px;       
    border: none;
    /* background: transparent; */
    background-image: url(./assets/img/ph_caret-down-bold.svg);
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 0 center;
    cursor: pointer;
}

.price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.8);
}

.btn {
    width: 100%;
    height: 70px;
    background-color:  #141414;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #fff;   
    margin-top: 75px; 
    cursor: pointer;
    transition: all .2s ease;
}

.btn:hover {
    transform: scale(1.05);
}

@media (max-width: 1040px) {
    .card {
        flex-direction: column;
    }
    .product-img-block {
        border-right: none;
        border-bottom: 2px solid rgba(20,20,20,0.15);
        min-width: auto; 
    }
    .preview-wrap {
        margin: 60px 0 70px
    }
    .product-info-block {
        padding: 60px 60px 0;
    }
}

@media (max-width: 576px) {
    .card {
        margin: 15px 15px 40px;
    }

    .main-img {
        width: 250px;
    }

    .product-info-block {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-title {
        font-size: 34px;
    }

    .subtitle {
        font-size: 14px;
    }

    .description {
        font-size: 16px;
        margin: 50px 0 55px;
    }

    .color-options {
    gap: 36px;
}
}




